body {

}
    #galvene{
        
            width: 300px;
            border: 15px solid rgb(132, 121, 136);
            padding: 50px;
            margin: 20px;
          }
      #informācija{



      }
  
  